@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamBlack';
  src: url('/public/fonts/gothamblack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'GothamBlack', sans-serif;
  }
